{% include layouts/head.html %}

{% include page-header.html title="Blog Posts" image="/assets/images/header/m-106.jpg" subtitle="Thoughts on software engineering, architecture, and leadership." %}
<div class="bg-white">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl">
      {% include breadcrumbs.html %}
      {% include title.html title=page.title subtitle=page.subtitle %}          
      {% include post/date-category.html page=page %}
      {% include post/tags.html tags=page.tags %}
      
      <div class="max-w-3xl prose prose-headings:font-serif prose-headings:text-gray-900 prose-headings:font-normal">
        {{ content }}
      </div>
    </div>
  </div>
</div>

{% include layouts/foot.html %}
