<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
     <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    {% include hero.html title="Adam Carlile: Technical Leader" image="/assets/images/hero-background-beach.jpg" subtitle="Over fifteen years working in software development, love of distributed systems, eventual consistency and interpreted languages" %}
    {{ content }}
  </body>
</html>
